<div class="box mt-5 mx-auto" style="border: 1px solid rgb(199, 195, 195); width: 450px; border-radius: 10px;">
    <h1 style="font-size: 100px; text-align: center;"><i class='bx bxl-nodejs'></i></h1>
    <p class="text-center">Create an account or login</p>
    <div class="container mb-4">
        <a class="btn btn-primary btn-block" href="/users/register">Register</a>    
        <a class="btn btn-secondary btn-block" href="/users/login">Login</a>
    </div>    
</div>